{{#if message}}
<section class="container-fluid my-3">
    <p class="alert alert-success">{{message}}</p>
</section>
{{/if }}
{{#if error}}
<section class="container-fluid my-3">
    <p class="alert alert-danger">{{error}}</p>
</section>
{{/if}}