<main class="container">
    <section class="container-fluid my-4">

        <h1>Welcome to site!</h1>

        <p>Here are some of nav links to helps you navigate around.</p>
        <ul>
            <li><a href="/auth/signin">Signin to your account</a></li>
            <li><a href="/auth/signup">Create new account</a></li>
            <li><a href="/home/welcome">Go to welcome page.</a></li>
        </ul>
    </section>
</main>