{{partial "header"}}
<main class="container-fluid my-4">
    <section class="container">
        <h1>Welcome Jayant Malik</h1>
        <p>You can now create new channel or view your existing channels via this page.</p>
        <p>Here are quick links to help you browse.</p>
        <nav class="nav">
            <ul>
                <li><a href="/channels/create">Create new Channel</a></li>
                <li><a href="/channels/list">View all channels.</a></li>
                <li><a href="/movies/create">Create new movie.</a></li>
                <li><a href="/movies/list">View all your movies.</a></li>
                <li><a href="/collections/create">Create new collection.</a></li>
                <li><a href="/collections/list">View your collections.</a></li>
            </ul>
        </nav>

    </section>
</main>